<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daofen.crm.service.customer.dao.MsgLogMapper">

  <resultMap id="BaseResultMap" type="com.daofen.crm.service.customer.model.MsgLogPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="from_user" jdbcType="VARCHAR" property="from" />
    <result column="to_user" jdbcType="VARCHAR" property="to" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <sql id="Base_Column_List">
    id, from_user, to_user, type,data_type, content,create_by, create_date, update_by, update_date
  </sql>


  <select id="getMsgLogList" parameterType="com.daofen.crm.base.PageVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dolphin_online_msg_log
    <where>
    	<if test="param.id != null">
    		id = #{param.id,jdbcType=BIGINT}
    	</if>
    	<if test="param.from != null">
    		and from_user = #{param.from,jdbcType=VARCHAR}
    	</if>
    	<if test="param.to != null">
    		and to_user = #{param.to,jdbcType=VARCHAR}
    	</if>
    	<if test="param.type != null">
    		and type = #{param.type,jdbcType=INTEGER}
    	</if>
    	<if test="param.dataType != null">
    		and data_type = #{param.dataType,jdbcType=INTEGER}
    	</if>
    	<if test="param.content != null">
    		and content like CONCAT('%',#{param.content,jdbcType=VARCHAR},'%')
    	</if>
    </where>
    limit #{startIndex,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="getMsgLogCount" parameterType="com.daofen.crm.base.PageVO" resultType="java.lang.Integer">
    select
    count(1)
    from dolphin_online_msg_log
    <where>
    	<if test="param.id != null">
    		id = #{param.id,jdbcType=BIGINT}
    	</if>
    	<if test="param.from != null">
    		and from_user = #{param.from,jdbcType=VARCHAR}
    	</if>
    	<if test="param.to != null">
    		and to_user = #{param.to,jdbcType=VARCHAR}
    	</if>
    	<if test="param.type != null">
    		and type = #{param.type,jdbcType=INTEGER}
    	</if>
    	<if test="param.dataType != null">
    		and data_type = #{param.dataType,jdbcType=INTEGER}
    	</if>
    	<if test="param.content != null">
    		and content like CONCAT('%',#{param.content,jdbcType=VARCHAR},'%')
    	</if>
    </where>
  </select>
  
  <delete id="delMsgLog" parameterType="java.lang.Long">
    delete from dolphin_online_msg_log
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="addMsgLog" parameterType="com.daofen.crm.service.customer.model.MsgLogPO">
    insert into dolphin_online_msg_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="from != null">
        from_user,
      </if>
      <if test="to != null">
        to_user,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="from != null">
        #{from,jdbcType=VARCHAR},
      </if>
      <if test="to != null">
        #{to,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>