<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daofen.crm.service.customer.dao.RemarkMapper">

  <resultMap id="BaseResultMap" type="com.daofen.crm.service.customer.model.RemarkPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="business_id" jdbcType="BIGINT" property="businessId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <sql id="Base_Column_List">
    id, customer_id, content, business_id,create_by, create_date, update_by, update_date
  </sql>


  <select id="getRemarkList" parameterType="com.daofen.crm.base.PageVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dolphin_customer_remarks
    <where>
    	<if test="param.id != null">
    		id = #{param.id,jdbcType=BIGINT}
    	</if>
    	<if test="param.businessId != null">
    		and business_id = #{param.businessId,jdbcType=BIGINT}
    	</if>
    	<if test="param.customerId != null">
    		and customer_id = #{param.customerId,jdbcType=BIGINT}
    	</if>
    	<if test="param.content != null">
    		and  content like CONCAT('%',#{param.content,jdbcType=VARCHAR},'%') 
    	</if>
    </where>
    order by create_date desc
    limit #{startIndex,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="getRemark" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dolphin_customer_remarks
    where customer_id = #{id,jdbcType=BIGINT}
    order by create_date desc
  </select>
  
  <select id="getRemarkListCount" parameterType="com.daofen.crm.base.PageVO" resultType="java.lang.Integer">
    select
    count(1)
    from dolphin_customer_remarks
    <where>
    	<if test="param.id != null">
    		id = #{param.id,jdbcType=BIGINT}
    	</if>
    	<if test="param.businessId != null">
    		and business_id = #{param.businessId,jdbcType=BIGINT}
    	</if>
    	<if test="param.customerId != null">
    		and customer_id = #{param.customerId,jdbcType=BIGINT}
    	</if>
    	<if test="param.content != null">
    		and  content like CONCAT('%',#{param.content,jdbcType=VARCHAR},'%') 
    	</if>
    </where>
  </select>
  
  <delete id="delRemark" parameterType="java.lang.Long">
    delete from dolphin_customer_remarks
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="addRemark" parameterType="com.daofen.crm.service.customer.model.RemarkPO">
    insert into dolphin_customer_remarks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>