<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daofen.crm.service.counselor.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.daofen.crm.service.counselor.model.RolePO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type"  property="type" />
    <result column="company_id" property="companyId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type,company_id, create_by, create_date, update_by, update_date
  </sql>
  
  <select id="selectRolePage" parameterType="com.daofen.crm.base.PageVO" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from role
    where company_id =#{param.companyId}

      <if test="param.name != null"> and name like concat('%',#{param.name},'%')</if>
    order by update_date desc
    limit #{startIndex},#{size}
  </select>

  <select id="selectRolePageCount" parameterType="com.daofen.crm.base.PageVO" resultType="java.lang.Integer">
    select count(id)
    from role
    where company_id =#{param.companyId} <if test="param.name !=null"> and name like concat('%',#{param.name},'%')</if>
    order by update_date desc
  </select>
  
  <select id="selectRoleById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteRoleById" parameterType="java.lang.Long">
    delete from role
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertRole" parameterType="com.daofen.crm.service.counselor.model.RolePO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateRole" parameterType="com.daofen.crm.service.counselor.model.RolePO">
    update role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectRoleList" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role
    where company_id = #{companyId}
  </select>
  
  <select id="selectRoleByCompanyIdAndName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role
    where company_id in(${companyIds}) and name =#{name}
  </select>


  

</mapper>