<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.service.employee.dao.EmployeeMsgPOMapper">
  <resultMap id="BaseResultMap" type="com.crm.service.employee.model.EmployeeMsgPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="employee_phone" jdbcType="VARCHAR" property="employeePhone" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, employee_id, employee_phone, msg, `status`, create_by, create_date, update_by, update_date
  </sql>

  <select id="selectMsgByEmployeeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employee_msg
    where employee_id = #{employeeId,jdbcType=BIGINT}
      <if test="status != null"> and `status` = #{status}</if>
  </select>

  <select id="selectMsgByMobile" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from employee_msg
    where employee_phone = #{mobile}
      <if test="status != null"> and `status` = #{status}</if>
  </select>


  <insert id="insertMsg" parameterType="com.crm.service.employee.model.EmployeeMsgPO" useGeneratedKeys="true" keyColumn="id">
    insert into employee_msg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="employeePhone != null">
        employee_phone,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="employeeId != null">
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="employeePhone != null">
        #{employeePhone,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateMsg" parameterType="com.crm.service.employee.model.EmployeeMsgPO">
    update employee_msg
    <set>
      <if test="msg != null">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>