<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.service.customer.dao.CustomerImportMapper">
  <resultMap id="BaseResultMap" type="com.crm.service.customer.model.CustomerImportPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="team_id" jdbcType="BIGINT" property="teamId" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="contract_id" jdbcType="BIGINT" property="contractId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="need" jdbcType="VARCHAR" property="need" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="counts" jdbcType="INTEGER" property="counts" />
    <result column="completion" jdbcType="VARCHAR" property="completion" />
    <result column="income" jdbcType="DECIMAL" property="income" />
    <result column="progress" jdbcType="TINYINT" property="progress" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="income_date" jdbcType="TIMESTAMP" property="incomeDate" />
    <result column="check_by" jdbcType="VARCHAR" property="checkBy" />
    <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
    <result column="certificate" property="certificate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <resultMap id="BOBaseResultMap" type="com.crm.service.customer.model.CustomerImportBO" extends="BaseResultMap">
    <result column="customerName" jdbcType="VARCHAR" property="customerName" />
    <result column="customerMobile" jdbcType="VARCHAR" property="customerMobile" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="deposit" jdbcType="DECIMAL" property="deposit" />
  </resultMap>

  <sql id="Base_Column_List">
    i.id, i.org_id, i.shop_id, i.team_id, i.employee_id, i.contract_id,i.customer_id,
    i.`need`, i.product_id, i.product_name,
    i.`counts`, i.completion, i.`income`, i.progress, i.`state`, i.income_date, i.check_by, i.check_date,i.`certificate`, i.create_by,
    i.create_date, i.update_by, i.update_date
  </sql>

  <select id="selectPage" parameterType="com.crm.common.PageBO" resultMap="BOBaseResultMap">
    SELECT <include refid="Base_Column_List"/>,c.`name` as customerName,c.mobile as customerMobile,cc.deposit as deposit,cc.contract_code
    FROM customer_import i
      join customer_contract cc on i.contract_id = cc.id
      join customer c on cc.customer_id = c.id
    <where>
      <if test="paramObject.orgId != null"> and i.org_id = #{paramObject.orgId}</if>
      <if test="paramObject.shopId != null"> and i.shop_id = #{paramObject.shopId}</if>
      <if test="paramObject.teamId != null"> and i.team_id = #{paramObject.teamId}</if>
      <if test="paramObject.employeeId != null"> and i.employee_id = #{paramObject.employeeId}</if>
      <if test="paramObject.contractId != null"> and i.contract_id = #{paramObject.contractId}</if>
      <if test="paramObject.startDate != null">  and i.create_date  >= #{paramObject.startDate} </if>
      <if test="paramObject.endDate != null"> and i.create_date <![CDATA[ <= ]]> #{paramObject.endDate}</if>
      <if test="paramObject.customerMobile != null"> and c.`mobile` like concat('%',#{paramObject.customerMobile},'%') </if>
      <if test="paramObject.customerName != null"> and c.`name` like concat('%',#{paramObject.customerName},'%') </if>
    </where>
    order by i.create_date desc
    limit #{start},#{size}
  </select>

  <select id="selectPageCount" parameterType="com.crm.common.PageBO" resultType="java.lang.Integer">
    SELECT count(1)
    FROM customer_import i
    join customer_contract cc on i.contract_id = cc.id
    join customer c on cc.customer_id = c.id
    <where>
      <if test="paramObject.orgId != null"> and i.org_id = #{paramObject.orgId}</if>
      <if test="paramObject.shopId != null"> and i.shop_id = #{paramObject.shopId}</if>
      <if test="paramObject.teamId != null"> and i.team_id = #{paramObject.teamId}</if>
      <if test="paramObject.employeeId != null"> and i.employee_id = #{paramObject.employeeId}</if>
      <if test="paramObject.contractId != null"> and i.contract_id = #{paramObject.contractId}</if>
      <if test="paramObject.startDate != null">  and i.create_date  >= #{paramObject.startDate} </if>
      <if test="paramObject.endDate != null"> and i.create_date <![CDATA[ <= ]]> #{paramObject.endDate}</if>
      <if test="paramObject.customerMobile != null"> and c.`mobile` like concat('%',#{paramObject.customerMobile},'%') </if>
      <if test="paramObject.customerName != null"> and c.`name` like concat('%',#{paramObject.customerName},'%') </if>
    </where>
  </select>

  <select id="selectImportsByContract"  resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from customer_import i
    where contract_id = #{contractId}
      <if test="orgId != null"> and i.org_id = #{orgId}</if>
      <if test="shopId != null"> and i.shop_id = #{shopId}</if>
      <if test="teamId != null"> and i.team_id = #{teamId}</if>
      <if test="employeeId != null"> and i.employee_id = #{employeeId}</if>
  </select>

  <insert id="insertImport" parameterType="com.crm.service.customer.model.CustomerImportPO" useGeneratedKeys="true" keyColumn="id">
    insert into customer_import
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        org_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="need != null">
        `need`,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="counts != null">
        `counts`,
      </if>
      <if test="completion != null">
        completion,
      </if>
      <if test="income != null">
        `income`,
      </if>
      <if test="progress != null">
        `progress`,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="incomeDate != null">
        income_date,
      </if>
      <if test="checkBy != null">
        check_by,
      </if>
      <if test="checkDate != null">
        check_date,
      </if>
      <if test="certificate != null">
        `certificate`,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId},
      </if>
      <if test="need != null">
        #{need,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="counts != null">
        #{counts,jdbcType=INTEGER},
      </if>
      <if test="completion != null">
        #{completion,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        #{income,jdbcType=DECIMAL},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=TINYINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="incomeDate != null">
        #{incomeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkBy != null">
        #{checkBy,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="certificate != null">
        #{certificate},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateImport" parameterType="com.crm.service.customer.model.CustomerImportPO">
    update customer_import
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=BIGINT},
      </if>
      <if test="need != null">
        `need` = #{need,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="counts != null">
        `counts` = #{counts,jdbcType=INTEGER},
      </if>
      <if test="completion != null">
        `completion` = #{completion,jdbcType=VARCHAR},
      </if>
      <if test="income != null">
        `income` = #{income,jdbcType=DECIMAL},
      </if>
      <if test="progress != null">
        `progress` = #{progress,jdbcType=TINYINT},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=TINYINT},
      </if>
      <if test="incomeDate != null">
        income_date = #{incomeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkBy != null">
        check_by = #{checkBy,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        check_date = #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="certificate != null and certificate != ''">
        `certificate` = #{certificate},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectImportByEmployeeAndContractIdAndProduct" resultMap="BOBaseResultMap">
    SELECT <include refid="Base_Column_List"/>,c.`name` as customerName,c.mobile as customerMobile,cc.deposit as deposit
    FROM customer_import i
      join customer_contract cc on i.contract_id = cc.id
      join customer c on cc.customer_id = c.id
    where i.employee_id=#{employeeId} and i.`state` = 1
    <if test="contractId != null"> and i.contract_id=#{contractId} </if>
    <if test="productId != null"> and i.product_id=#{productId} </if>
  </select>

  <select id="selectImportProduct" resultMap="BOBaseResultMap">
    SELECT <include refid="Base_Column_List"/>,c.`name` as customerName,c.mobile as customerMobile,cc.deposit as deposit
    FROM customer_import i
    join customer_contract cc on i.contract_id = cc.id
    join customer c on cc.customer_id = c.id
    where i.org_id=#{orgId} and i.`state` = 1
    <if test="productId != null"> and i.product_id=#{productId} </if>
  </select>


</mapper>