<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.service.dial.dao.CustomerVoiceMapper">
  <resultMap id="BaseResultMap" type="com.crm.service.dial.model.CustomerVoicePO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="employee_phone" jdbcType="VARCHAR" property="employeePhone" />
    <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>

  <sql id="Base_Column_List">
    id, org_id, employee_id, employee_phone, customer_phone, file_url,content, create_by, create_date
  </sql>

  <select id="selectCustomerVoiceList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from customer_voice
    where org_id=#{orgId} and customer_phone = #{customerPhone}
  </select>

</mapper>