<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daofen.crm.service.city.dao.CityMapper">
    <resultMap id="BaseResultMap" type="com.daofen.crm.service.city.model.CityPO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="level" property="level"/>
        <result column="ordered" property="ordered"/>
        <result column="parentId" property="parentId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>
    <!-- , create_by, create_date, update_by, update_date -->
    <sql id="Base_Column_List">
        city.id, city.name, city.level, city.ordered, city.parentId
    </sql>

    <select id="selectAll" parameterType="java.lang.Byte" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `city` city
        <if test="level != null">
            where city.level <![CDATA[ <= ]]>  #{level}
        </if>
    </select>
    
    <select id="selectAllMp" parameterType="java.lang.Byte" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mp_city mp 
        	left join  
        	`city` city
        on mp.city_id = city.id
        <if test="level != null">
            where city.level <![CDATA[ <= ]]>  #{level}
        </if>
        order by mp.sort desc
    </select>

</mapper>