<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daofen.crm.service.company.dao.ShopPOMapper">
  <resultMap id="BaseResultMap" type="com.daofen.crm.service.company.model.ShopPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <resultMap id="ShopBO_BaseResultMap" type="com.daofen.crm.service.company.model.ShopBO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <sql id="Base_Column_List">
    id, company_id, `name`, address, create_by, create_date, update_by, update_date
  </sql>
  
  <select id="selectShopByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, company_id, `name`, address
    from company_shop
    where name = #{name}
  </select>

  <select id="selectShopByCompanyIdAndName" resultMap="BaseResultMap">
     select id, company_id, `name`, address
    from company_shop
    where company_id =#{companyId} and `name` = #{name}
  </select>

  <select id="selectShopPage" parameterType="com.daofen.crm.base.PageVO" resultMap="ShopBO_BaseResultMap">
    select shop.*,
           company.`name` as companyName,
           company.city as city
    from company_shop shop
      join company company on shop.company_id = company.id
    where shop.company_id in(${param.companyIds})
      <if test="param.name != null and param.name !=''"> and shop.`name` like concat('%',#{param.name},'%') </if>
      <if test="param.city != null and param.city != ''"> and company.city like concat('%',#{param.city},'%') </if>
      <if test="param.companyName != null and param.companyName != ''"> and company.`name` like concat('%',#{param.companyName},'%') </if>
    limit #{startIndex},#{size}
  </select>

  <select id="selectShopPageCount" parameterType="com.daofen.crm.base.PageVO" resultType="java.lang.Integer">
    select count(shop.id)
    from company_shop shop
      join company company on shop.company_id = company.id
    where shop.company_id in(${param.companyIds})
      <if test="param.name != null and param.name !=''"> and shop.`name` like concat('%',#{param.name},'%') </if>
      <if test="param.city != null and param.city != ''"> and company.city like concat('%',#{param.city},'%') </if>
      <if test="param.companyName != null and param.companyName != ''"> and company.`name` like concat('%',#{param.companyName},'%') </if>
  </select>

  <select id="selectShop" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company_shop
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectCompanyShops" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company_shop
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>


  <delete id="deleteShop" parameterType="java.lang.Long">
    delete from company_shop
    where id = #{id,jdbcType=BIGINT}
  </delete>


  <insert id="insertShop" parameterType="com.daofen.crm.service.company.model.ShopPO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into company_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateShop" parameterType="com.daofen.crm.service.company.model.ShopPO">
    update company_shop
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>



</mapper>